body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

div {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px; 
}

label {
    display: block;
    margin: 5px 0;
}

input[type="text"],
input[type="tel"],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px; 
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


p {
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

select {
    color: #000; 
}

select option:disabled {
    color: #999; 
}
